@font-face {
    font-family: 'Frontage';
    src: url('../fonts/Frontage W00 Bold.otf');
}
@font-face {
    font-family: 'Sensations';
    src: url('../fonts/Sensations and Qualities.ttf');
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');
